<!DOCTYPE html>
<html>
<head>
  
  <meta charset="UTF-8">
  <title>Cadastro - ConnectSafe</title>
  <style>
    body {
      font-family: Arial;
      background: #A7D7C5;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
    }

    .logo {
      margin-top:-5rem;
      padding: 2rem;
    }

    .card {
      background: #F6FBF9;
      padding: 30px;
      width: 380px;
      border-radius: 30px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .card form {
      display: flex;
      flex-direction: column;
      max-width: 380px;
      width:100%;
    }


    input, select {
      max-width: 380px;
      padding: 15px;
      margin-bottom: 15px;
      border-radius: 10px;
      border: 2px solid #ccc;
    }

    button {
      width: 100%;
      padding: 10px;
      background: #64BE9C;
      color: white;
      border: none;
      border-radius: 10px;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
    }


   button:hover {
      background: #7abfa4;
    }

    .login-section {
      width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    .login-section a {
      align-self: center;
      text-decoration: none;
      color: #212B27;
      font-weight: bold;
    }

    .login-section a:hover{
      color: #4f5250;
      text-decoration: underline;
    }
  </style>
</head>
<body>

  <div class="logo">
    <img src="../images/connectsafe.svg" alt="Connectsafe" srcset="">
  </div>

  <div class="card">
    <h2>Cadastrar</h2>

    <form method="POST" action="/register">
      <input type="text" name="full_name" placeholder="Nome" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Senha" required>

      <select name="type" required>
        <option value="FAMILY">Família</option>
        <option value="CAREGIVER">Cuidador</option>
      </select>

      <button type="submit">Criar Conta</button>
    </form>
    <div class="login-section">
      <p>Já possuí conta?</p>
      <a href="/login">Log-in</a>
    </div>
  </div>

</body>
</html>